.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.profile-img {
    width: 150px;
    height: inherit;
    filter: grayscale(100%);
    border: #7fffd4 2px solid;
    filter: grayscale(100%);
    border-radius: 20px;
    transition: filter 0.15s ease-in-out;
  }
  
  .profile-img:hover {
    filter: grayscale(0%);
  }