.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 100vh;
}

.profile-content {
  width: 75%;
}

.hook {
  width: 75%;
}

.greeting {
  color: #7fffd4;
  font-weight: 600;
}