/* Stylesheet for the Section component */

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    padding: 2rem;
}

.section .section-title {
    font-size: 2.5rem;
    color: #c7ccd3;
    font-family: 'Source Code Pro';
    /* Trailing line */
    border-bottom: 1px solid #c7ccd3;
}