/* Stylesheet for index.js - For global/generic styling */
/* Import the Montserrat typeface */
@import "~@fontsource/montserrat/100.css"; /* Weight 100 */
@import "~@fontsource/montserrat/200.css"; /* Weight 200 */
@import "~@fontsource/montserrat/300.css"; /* Weight 300 */
@import "~@fontsource/montserrat/400.css"; /* Weight 400 */
@import "~@fontsource/montserrat/500.css"; /* Weight 500 */
@import "~@fontsource/montserrat/600.css"; /* Weight 600 */
@import "~@fontsource/montserrat/700.css"; /* Weight 700 */
@import "~@fontsource/montserrat/800.css"; /* Weight 800 */
@import "~@fontsource/montserrat/900.css"; /* Weight 900 */

@import "~@fontsource/montserrat/100-italic.css"; /* Weight 100 Italic */
@import "~@fontsource/montserrat/200-italic.css"; /* Weight 200 Italic */
@import "~@fontsource/montserrat/300-italic.css"; /* Weight 300 Italic */
@import "~@fontsource/montserrat/400-italic.css"; /* Weight 400 Italic */
@import "~@fontsource/montserrat/500-italic.css"; /* Weight 500 Italic */
@import "~@fontsource/montserrat/600-italic.css"; /* Weight 600 Italic */
@import "~@fontsource/montserrat/700-italic.css"; /* Weight 700 Italic */
@import "~@fontsource/montserrat/800-italic.css"; /* Weight 800 Italic */
@import "~@fontsource/montserrat/900-italic.css"; /* Weight 900 Italic */

/* Import Source Code Pro Typeface */
@import "~@fontsource/source-code-pro/200.css";
@import "~@fontsource/source-code-pro/400.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d212a;
  width: 100%;
  color: #BDBDBD;
  font-weight: 500;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  color:#c7ccd3;
}

.code {
  font-family: 'Source Code Pro';
}

/* Generic Style Classes */
.hide {
  display: none;
}

.show {
  display: block;
}

.bold-text {
  font-weight: 800;
}


.title {
  font-size: 4rem;
  color: #c7ccd3;
}

.subtitle {
  font-size: 3rem;
  color: #9E9E9E;
}

.highlight {
  color: #7fffd4;
  transition: all 0.15s ease-in-out;
}

.highlight:hover {
  color: #80DEEA;
  border-bottom: 1px solid #7fffd4;
}

.button {
  text-decoration: none;
  padding: 5px 10px;
  color: #7fffd4;
  border: #7fffd4 2px solid;
  border-radius: 5px;
  width: fit-content;
  transition: background-color 0.15s ease-in-out;
}

.button:hover {
  background-color: #7fffd4;
  color: #1d212a;
}